<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- CSS INCLUDE -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>

    <!-- EOF CSS INCLUDE -->


</head>
<body>

<!-- START PAGE CONTAINER -->
<div class="container-fluid">

    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Customer
        </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div class="column">
        <form action="#" th:action="@{/customers/addcustomer}" th:object="${customer}" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Age</label>
                    <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Name">
                    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Gender</label>
                    <select th:field="*{gender}">
                        <option th:value="'MALE'" th:text="Male"></option>
                        <option th:value="'FEMALE'" th:text="Female"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">BirthDate</label>
                    <input type="date" th:field="*{birthDate}" class="form-control" id="birthDate" placeholder="Name">
                    <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Address</label>
                    <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Name">
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Phone</label>
                    <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Name">
                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Add User">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- END PAGE CONTAINER -->
</div>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>


<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>