<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- CSS INCLUDE -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>

    <!-- EOF CSS INCLUDE -->


</head>
<body>

<!-- START PAGE CONTAINER -->
<div class="container-fluid">

    <!-- PAGE TITLE -->
    <div class="page-title">
        <h2>
            <span class="fa fa-arrow-circle-o-left"></span> Customer
        </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div class="column">
        <a th:href="@{/customers/add}" class="btn btn-primary btn-sm"  role="button">Add new</a>
        <table class="table datatable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>BirthDate</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.name}">Text ...</td>
                <td th:text="${customer.age}">Text ...</td>
                <td th:text="${customer.gender}">Text ...</td>
                <td th:text="${customer.birthDate}">Text ...</td>
                <td th:text="${customer.address}">Text ...</td>
                <td th:text="${customer.phone}">Text ...</td>
                <td th:text="${customer.email}">Text ...</td>
                <td><a th:href="@{/customers/delete/{id}(id=${customer.id})}" class="btn btn-primary btn-sm"  role="button">Delete</a></td>
                <td><a th:href="@{/customers/edit/{id}(id=${customer.id})}" class="btn btn-primary btn-sm"  role="button">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END PAGE CONTAINER -->
</div>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>


<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>